/* general styles */
*::-webkit-scrollbar {
  display: none;
}

* {
  font-family: "Familjen Grotesk", sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0 !important;
}

.primary-text-color {
  color: #111f3c;
}

.secondary-text-color {
  color: #616161;
}

.text-title {
  font-size: 35px;
}

.Inspire-text {
  font-size: 20px;
}

.inspire-card-title {
  font-size: 24px;
}

.referral-title {
  font-size: 38px;
}

.Architectural-title {
  font-size: 45px;
}

.hero-title {
  font-size: 2.95em;
}

.hero-sub-title {
  font-size: 18px;
}

.sub-title {
  font-size: 18px;
}

.Inspire-image {
  width: 9%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(67%) sepia(38%) saturate(1761%) hue-rotate(197deg)
    brightness(93%) contrast(92%);
}

/* Navbar */
.navbar {
  z-index: 999;
  background-color: #fff;
  border-radius: 50px;
  width: max-content;
  box-shadow: 0 4px 16px 0 #00000015;
  font-family: "Familjen Grotesk", sans-serif;
  margin: 15px auto;
  padding: 0;
}

.navbar .nav-button {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #111f3c;
  border: none;
  border-radius: 50%;
  padding: 3px 7px 6px 7px;
  cursor: pointer;
  z-index: 20;
  box-shadow: 0 4px 4px 0 #00000015;
}

.navbar .nav-prev-button {
  position: absolute;
  left: 8px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #111f3c;
  border: none;
  border-radius: 50%;
  padding: 3px 7px 6px 7px;
  cursor: pointer;
  z-index: 10;
  box-shadow: 0 4px 4px 0 #00000015;
}

.navbar .nav-prev-button.hidden {
  display: none;
}

.navbar ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  white-space: nowrap;
  flex-wrap: nowrap;
  padding-left: 0;
}

.navbar li {
  padding: 4px 10px;
  color: #111f3c;
  border-radius: 20px;
  margin: 10px;
  white-space: nowrap;
  transition: background-color 0.3s ease;
  position: relative;
  z-index: 2;
}

.navbar li:hover {
  /* background-color: #F4F4F4; */
  cursor: pointer;
}

.navbar li.active {
  /* background-color: #111F3C;  */
  color: #fff;
  cursor: pointer;
}

.navbar::before {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 0;
  border-radius: 20px;
  width: 100px;
  height: 30px;
  background-color: #111f3c;
  transition: left 0.3s ease, width 0.3s ease;
  left: var(--nav-left, 0);
  width: var(--nav-width, 0);
}

@media screen and (max-width: 800px) {
  .navbar {
    display: none;
  }
}

@media screen and (min-width: 800px) {
  .header-logo {
    display: none;
  }
}

/* mobile navbar */
.mobile-navbar {
  background-color: #111f3c;
  color: white;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

#checkbox {
  display: none;
}

.toggle {
  position: absolute;
  width: 25px;
  height: 30px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6px;
  transition-duration: 0.3s;
  right: 25px;
  top: 10px;
  z-index: 1000;
}

.bars {
  width: 100%;
  height: 2px;
  background-color: rgb(253, 255, 243);
  border-radius: 5px;
  transition-duration: 0.3s;
}

#bar4,
#bar5 {
  display: none;
}

#checkbox:checked + .toggle #bar4 {
  display: flex;
  transform: translateY(10px) translateX(4px) rotate(25deg);
  margin-left: 0;
  transform-origin: right;
  transition-duration: 0.3s;
  z-index: 2;
  width: 12px;
}

#checkbox:checked + .toggle #bar5 {
  display: flex;
  transform: translateY(-2.5px) translateX(-6.5px) rotate(-25deg);
  margin-left: 0;
  transform-origin: right;
  transition-duration: 0.3s;
  z-index: 2;
  width: 13px;
}

#checkbox:checked + .toggle #bar2 {
  transform: translateY(19px) translateX(-5px) rotate(70deg);
  margin-left: 0;
  transform-origin: right;
  transition-duration: 0.3s;
  z-index: 2;
  width: 30px;
}

#checkbox:checked + .toggle #bar1 {
  transform: translateY(27px) translateX(4px) rotate(-70deg);
  transition-duration: 0.3s;
  transform-origin: left;
  z-index: 1;
  width: 30px;
}

#checkbox:checked + .toggle {
  transform: rotate(45deg);
}

#checkbox:checked + .toggle #bar3 {
  transform: translateY(12px) rotate(2deg);
  transition-duration: 0.3s;
  transform-origin: right;
  display: none;
}

.header-link {
  color: white;
  font-size: 18px;
}

.header-link:hover {
  color: #ec7100;
}

/* header section styles */
.mobile-hero-section {
  height: 100vh;
  background-image: url("./assets/hero-section.png");
  background-size: cover;
  background-position: center;
}

.desktop-header-section {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.desktop-header-section video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.desktop-header-content {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.get-started-btn {
  background-color: white;
  color: #111f3c;
  transition: all 0.7s ease;
  border: 1px solid white;
  padding: 13px 50px 13px 50px;
}

.get-started-btn:hover {
  background-position: right center;
  background-size: 200% auto;
  -webkit-animation: pulse 2s infinite;
  animation: pulse512 1.5s infinite;
}

@keyframes pulse512 {
  0% {
    box-shadow: 0 0 0 0 #ffffff;
  }

  70% {
    box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
  }

  100% {
    box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
  }
}

/* Brochure Modal */

.modal-container {
  background-color: #00000080;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  align-items: center;
  justify-content: center;
  z-index: 999;
  display: none;
  transform: scale(0);
  transition: all 0.5s;
  font-family: "Familjen Grotesk", sans-serif;
}

.modal-container.show {
  transform: scale(1);
}

@keyframes expand {
  to {
    width: 100%;
    height: 100%;
  }
}

.modal-container .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal-container .close-icon {
  position: absolute;
  right: 20px;
  top: 20px;
}

.modal-container .close-icon:hover {
  cursor: pointer;
}

.modal-container .scheduling-container.hidden {
  display: none;
}

.brochure-modal h4,
.schedule-form-modal h4 {
  font-weight: 400;
  font-size: 1.3rem;
  color: #434343;
}

.input-group {
  position: relative;
}

.input {
  border: 1px solid #999999;
  border-radius: 5px;
  border-top-right-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
  background: none;
  padding: 8px;
  font-size: 1rem;
  color: #434343;
  transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.user-label {
  position: absolute;
  left: 15px;
  color: #a8a9a9;
  pointer-events: none;
  transform: translateY(1.2rem);
  transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input:focus,
input:valid {
  outline: none;
}

form .input:focus ~ label,
form input:valid ~ label {
  transform: translateY(-10%) scale(0.8);
  background-color: #ffffff;
  padding: 0.2em;
}

form .no-transform label {
  transform: none !important;
  padding: 0 !important;
}

.modal-container .brochure-modal,
.modal-container .schedule-form-modal {
  width: 500px;
  background-color: #ffffff;
  border-radius: 15px;
  padding: 15px;
  box-shadow: 0 0 40px 30px #00000030;
}

.modal-container .schedule-form-modal {
  display: none;
}

.modal-container .schedule-form-modal.active {
  display: block;
}

.modal-container form {
  background-color: #fff;
  padding: 20px 10px;
}

.modal-container form input {
  width: 100%;
  margin: 13px 0;
}

.modal-container form select {
  padding: 9px;
  margin: 13px 0;
  color: #434343;
  border-right: none !important;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 1px solid #999999;
  position: relative;
  left: 2px;
}

#phone-number {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.modal-container form input::placeholder {
  color: #a8a9a9;
  font-weight: 300;
}

.brochure-modal .phone-number-container.sent input {
  margin-bottom: 0;
}

.brochure-modal .phone-number-container.sent select {
  top: 6.5px;
}

.phone-number-container {
  position: relative;
}

.modals .otp-sent {
  color: #ec7100;
  display: none;
}

.modals .otp-sent.active {
  display: block;
}

.modals .d-flex .otp-btn {
  font-size: 0.85rem;
  color: #ffffff;
  border: none;
  padding: 8px 20px;
  border-radius: 8px;
  margin: 13px 0;
  background-color: #111f3c;
  position: absolute;
  right: 4px;
  bottom: 3px;
}

.modals .phone-number-container.sent .otp-btn {
  margin: 0;
}

.modals .phone-number-container.sent select {
  margin: 0;
}

.modals .otp-container {
  display: none;
}

.modals .otp-container input {
  width: 100%;
}

.modals .otp-container p {
  margin-top: 8px;
  margin-left: 3px;
  font-size: 0.8rem;
  width: 40%;
  white-space: nowrap;
}

.otp-container .otp-verification {
  position: absolute;
  right: 35px;
  top: 23px;
  color: green;
  width: max-content !important;
  margin: 0 !important;
  display: none;
}

.phone-number-container .verify-btn {
  font-size: 0.85rem;
  color: #ffffff;
  border: none;
  padding: 8px 20px;
  border-radius: 8px;
  margin: 13px 0;
  background-color: #111f3c;
  position: absolute;
  right: 4px;
  bottom: 3px;
}

.modal-container input[type="checkbox"] {
  width: 20px;
  height: 20px;
}

.modal-container label {
  /* font-weight: 300; */
  margin-left: 10px;
}

.modal-container button[type="submit"] {
  width: 100%;
  text-align: center;
  margin-top: 15px;
  border-radius: 20px;
  border: none;
  padding: 10px;
  color: #fff;
  background-color: #d9d9d9;
}

.modal-container button[type="submit"].active {
  background-color: #111f3c;
}

.modal-container button[type="submit"].active:hover {
  background-position: right center;
  background-size: 200% auto;
  -webkit-animation: pulse 2s infinite;
  animation: pulse5 1.5s infinite;
}

.modal-container button[type="submit"]:hover {
  background-position: right center;
  background-size: 200% auto;
  -webkit-animation: pulse 2s infinite;
  animation: pulse51 1.5s infinite;
}

@keyframes pulse51 {
  0% {
    box-shadow: 0 0 0 0 #d9d9d9;
  }

  70% {
    box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
  }

  100% {
    box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
  }
}

/* Confirmation Popup Modal */

.confirmation-popup-modal {
  background-color: #ffffff;
  padding: 20px;
  text-align: center;
  border-radius: 20px;
  display: none;
  width: 450px;
  height: 400px;
}

.confirmation-popup-modal video {
  width: 400px;
  height: 250px;
}

.confirmation-popup-modal h4 {
  color: #ec7100;
  font-weight: 500;
  font-size: 1.6rem;
}

.confirmation-popup-modal p {
  color: #434343;
  font-size: 1.2rem;
}

.confirmation-popup-modal h4,
.confirmation-popup-modal p {
  opacity: 0;
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.confirmation-popup-modal.show h4,
.confirmation-popup-modal.show p {
  opacity: 1;
  transform: translateY(-60px);
}

.Realezi-arrow-loader.shrink {
  width: 55%;
  transition: width 0.5s ease;
}

/* Section three */
.section-three {
  padding: 20px 0 7% 0;
  overflow: hidden;
}

.section-three .video {
  margin: 15px;
  /* width: 400px !important; */
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.section-three .video p {
  text-align: left;
  font-size: 0.78rem;
}

.section-three .instagram-video {
  box-shadow: 0 4px 4px 0 #00000065;
}
.video .d-flex img:hover {
  background-color: #ededed;
  cursor: pointer;
}

.section-three .nav-btn {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  background-color: #111f3c;
  border-radius: 50%;
  color: #fff;
  border: none;
  cursor: pointer;
  z-index: 10;
}

.section-three .prev-btn {
  left: 10px;
  transform: rotate(180deg);
  padding: 2px 6px 4px 6px;
}

.section-three .next-btn {
  right: 5px;
  top: 44%;
  padding: 2px 6px 6px 6px;
  /* transform: rotate(-90deg) */
}

/* why realezi styles */
.benefits-card {
  background-color: #f7f9ff;
}

.benefits-card:hover {
  box-shadow: 0px 4px 14.9px 0px #00000021;
  cursor: pointer;
}

.benefits-card .card-img {
  height: 120px;
  width: 250px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: background-image 0.3s ease-in-out;
  justify-content: center;
  margin: auto;
  cursor: pointer;
}

.hover-img-1 {
  background-image: url("./assets/benefits/benefit-1.png");
  cursor: pointer;
}

.hover-img-2 {
  background-image: url("./assets/benefits/benefit-2.png");
  cursor: pointer;
}

.hover-img-3 {
  background-image: url("./assets/benefits/benefit-3.png");
  cursor: pointer;
}

.hover-img-4 {
  background-image: url("./assets/benefits/benefit-4.png");
  cursor: pointer;
}
/* 
.hover-img-1:hover {
  background-image: url("./assets/benefits/benefit-5.png");
}

.hover-img-2:hover {
  background-image: url("./assets/benefits/benefit-6.png");
}

.hover-img-3:hover {
  background-image: url("./assets/benefits/benefit-7.png");
}

.hover-img-4:hover {
  background-image: url("./assets/benefits/benefit-8.png");
} */

/* refer button styles */
.refer-btn {
  background-color: #111f3c;
  color: white;
  transition: all 0.7s ease;
  border: 1px solid #111f3c;
  padding: 13px 50px 13px 50px;
}

.refer-btn:hover {
  background-position: right center;
  background-size: 200% auto;
  -webkit-animation: pulse 2s infinite;
  animation: pulse5 1.5s infinite;
}

@keyframes pulse5 {
  0% {
    box-shadow: 0 0 0 0 #111f3c;
  }

  70% {
    box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
  }

  100% {
    box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
  }
}

/* custom stepper styles */
#stepper-header {
  position: relative;
  width: 100%;
}

.step-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#stepper-header .step {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  background-color: #ddd;
  text-align: center;
  font-weight: bold;
  color: #555;
  cursor: pointer;
  margin-bottom: 5px;
}

#stepper-header .step.active {
  background-color: #111f3c;
  color: white;
}

#stepper-header .step-wrapper .step.active + .step-title {
  color: #111f3c;
}

#stepper-header .line {
  width: 50px;
  height: 2px;
  background-color: #111f3c;
  margin-bottom: 25px;
}

#stepper-header .step-title {
  font-size: 14px;
  color: #555;
}

#stepper-content .step-content {
  display: none;
}

#stepper-content .step-content.active {
  display: block;
}

#stepper-below-content .step-content {
  display: none;
}

#stepper-below-content .step-content.active {
  display: block;
}

/* modal and forms styles */
@keyframes slideUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-up {
  animation: slideUp 1s ease-out;
}

.btn-close {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.modal-backdrop {
  z-index: 1050;
}

@keyframes zoomIn {
  from {
    transform: scale(0.8);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes zoomOut {
  from {
    transform: scale(1);
    opacity: 1;
  }

  to {
    transform: scale(0.8);
    opacity: 0;
  }
}

.modal-dialog.zoom-in {
  animation: zoomIn 0.5s ease-out;
}

.modal-dialog.zoom-out {
  animation: zoomOut 0.5s ease-out;
}

/* Consultion Container */
.consultation-container {
  position: absolute;
  top: -135px;
}

.consultation-container img {
  transform: rotate(1deg);
}

.consultation-container button {
  border: none;
  background-color: #ffffff;
  padding: 10px 20px;
  border-radius: 20px;
  white-space: nowrap;
  margin-top: 120px;
}

.consultation-container button:hover {
  background-position: right center;
  background-size: 200% auto;
  -webkit-animation: pulse 2s infinite;
  animation: pulse512 1.5s infinite;
}

/* Footer */
.footer {
  color: #ffffff;
  background-color: #111f3c;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  position: relative;
  padding: 100px 10px 20px 10px;
  margin-top: 6%;
}

.footer .container {
  max-width: 1120px;
}

.footer .upper-footer ul {
  padding-left: 0;
  border-top: 0.5px solid #919191;
  padding-right: 50px;
}

.footer h3 {
  font-weight: 400 !important;
  font-size: 2rem;
  margin-top: 10px;
  white-space: nowrap;
  margin-right: 15px;
}

.footer h4 {
  font-size: 1.5rem;
}

.upper-footer {
  position: relative;
}

.upper-footer .white-btn {
  margin-top: 60px;
  background-color: transparent;
  border: 1px solid #ffffff;
  width: 200px;
  padding: 8px 15px;
  border-radius: 10px;
  color: #ffffff;
}

.upper-footer .white-btn:hover {
  background-color: #ffffff;
  color: #111f3c;
}

.footer li {
  position: relative;
  width: max-content;
}

.upper-footer li::before {
  content: "";
  width: 0;
  height: 2px;
  border-radius: 2px;
  background-color: #ec7100;
  position: absolute;
  bottom: -3px;
  left: 50%;
  transition: width 0.4s, left 0.4s;
}

.upper-footer li:hover {
  cursor: pointer;
  color: #ec7100;
}

.upper-footer li:hover::before {
  width: 100%;
  left: 0;
}

.upper-footer li:hover {
  color: #ec7100;
  cursor: pointer;
}

.lower-footer li:hover {
  cursor: pointer;
  color: #ec7100;
}

.footer .upper-footer li {
  margin: 13px 0;
  text-align: left;
  white-space: nowrap;
  font-size: 0.9rem;
}

.footer .blue-btn {
  background-color: #ffffff;
  border-radius: 20px;
  padding: 6px 30px 6px 6px;
  border: none;
  color: #111f3c;
  font-size: 1rem;
  flex-wrap: nowrap;
  display: flex;
  position: relative;
}

footer p {
  margin-bottom: 0;
}

.footer .refer-btn {
  padding: 6px 25px 6px 6px;
}

.footer .refer-btn lottie-player {
  position: absolute;
  right: 4px;
  bottom: 8px;
}

.footer .blue-btn canvas {
  position: absolute;
  right: -18px;
  bottom: 5px;
  width: 70px;
}

.footer .playStore-btn {
  position: absolute;
  right: 20px;
  bottom: 10px;
}

.googlePlay-button .texts .launch-text,
.appstore-button .texts .launch-text {
  font-size: 1rem;
  white-space: wrap;
  margin-right: 10px;
}

.googlePlay-button .texts .soon-text,
.appstore-button .texts .soon-text {
  font-size: 1rem;
  font-weight: 400 !important;
  text-align: center;
  margin-left: 15px;
}

.googlePlay-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #000;
  border-radius: 9999px;
  background-color: rgba(0, 0, 0, 1);
  padding: 0.625rem 1.5rem;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  outline: 0;
  transition: all 0.2s ease;
  text-decoration: none;
  margin-right: 10px;
}

.googlePlay-button:hover {
  background-color: #ffffff;
  color: #000000;
}

.googlePlay-button .icon {
  height: 1.5rem;
  width: 1.5rem;
}

.googlePlay-button .texts {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 1;
}

.googlePlay-button .text-1 {
  margin-bottom: 0.25rem;
  font-size: 0.75rem;
  line-height: 1rem;
}

.googlePlay-button .text-2 {
  font-weight: 600;
}

.appstore-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #000;
  border-radius: 9999px;
  background-color: rgba(0, 0, 0, 1);
  padding: 0.625rem 1.5rem;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  outline: 0;
  transition: all 0.2s ease;
  text-decoration: none;
}

.appstore-button:hover {
  background-color: #ffffff;
  color: #000000;
}

.appstore-button .icon {
  height: 1.5rem;
  width: 1.5rem;
}

.appstore-button .texts {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 1;
}

.appstore-button .text-1 {
  margin-bottom: 0.25rem;
  font-size: 0.75rem;
  line-height: 1rem;
}

.appstore-button .text-2 {
  font-weight: 600;
}

.lower-footer .lower-upper {
  padding: 8px 0;
  margin-top: 40px;
  margin-bottom: 10px;
  border-bottom: 0.5px solid #919191;
  text-align: center;
}

.lower-upper li {
  padding: 0 10px;
  font-size: 0.9rem;
}

.lower-bottom .socials-container {
  display: flex;
}

.lower-bottom .socials-container a {
  margin: 0 8px;
}

.social-btn {
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.4s;
  cursor: pointer;
  position: relative;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
  overflow: hidden;
}

.insta-btn {
  background: #f09433;
  background: -moz-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
}

.linkedin-btn {
  background: #007ab9;
}

.youtube-btn {
  background: #ff0000;
}

.fb-btn {
  background: #1877f2;
}

.svgIcon,
.social-btn img {
  transition-duration: 0.3s;
}

.svgIcon path {
  fill: white;
}

.social-btn .text {
  position: absolute;
  color: rgb(255, 255, 255);
  /* width: 120px; */
  opacity: 0;
  transition-duration: 0.4s;
}

.social-btn:hover {
  width: 110px;
  transition-duration: 0.4s;
  border-radius: 30px;
}

.social-btn:hover .text {
  opacity: 1;
  transition-duration: 0.4s;
}

.social-btn:hover .svgIcon,
.social-btn:hover img {
  opacity: 0;
  transition-duration: 0.3s;
}

.lower-footer p {
  font-size: 0.9rem;
}

@media screen and (max-width: 1500px) {
  .consultation-container {
    left: 24%;
  }
}

@media screen and (max-width: 1200px) {
  /* Consultation Container */
  .consultation-container {
    left: 18%;
    top: -104px;
  }
  /* Footer */
  .footer .columns div:first-child img {
    margin-top: 30px;
  }
  .footer .upper-footer .columns {
    flex-wrap: wrap;
  }
  .footer .upper-footer .columns h4 {
    margin-top: 30px;
  }
}

@media screen and (max-width: 1021px) {
  /* Consultation Container */
  .consultation-container {
    left: 26%;
  }
}

@media screen and (max-width: 990px) {
  /* Consultation Container */
  .consultation-container {
    left: 18%;
  }
  /* Footer */
  .footer .upper-footer ul {
    padding-right: 10px;
  }
  .footer .upper-footer .px-5 {
    padding-right: 10px !important;
    padding-left: 10px !important;
  }
  .footer .upper-footer p br {
    display: none;
  }
  .footer .upper-footer p {
    margin-right: 10px !important;
  }
}

@media screen and (max-width: 905px) {
  /* Consultation Container */
  .consultation-container {
    left: 25%;
  }
}

@media screen and (max-width: 770px) {
  .footer .upper-footer .d-flex:first-child {
    flex-wrap: wrap;
  }
  .footer .upper-footer h4 {
    margin-top: 20px;
  }
  .footer .lower-footer .lower-upper {
    flex-direction: column;
  }
  .footer .lower-footer .lower-upper ul {
    margin: 15px 0 !important;
    flex-direction: column;
  }
  .footer .lower-footer .lower-upper ul li {
    margin-bottom: 5px;
  }
}

@media screen and (max-width: 768px) {
  /* Footer */
  .footer .lower-bottom {
    flex-direction: column;
  }
  .footer .lower-bottom p {
    margin-bottom: 8px !important;
  }
}

@media (max-width: 767.98px) {
  .hero-title {
    font-size: 40px;
  }

  .hero-sub-title {
    font-size: 16px;
  }

  .text-title,
  .referral-title {
    font-size: 32px;
  }

  .sub-title {
    font-size: 16px;
  }

  .Inspire-text {
    font-size: 18px;
  }

  .Architectural-title {
    font-size: 29px;
  }

  .Inspire-image {
    width: 15%;
  }

  .inspire-card-title {
    font-size: 18px;
  }

  .form-label {
    font-size: 13px;
  }
}

@media screen and (max-width: 755px) {
  /* Consultation Container */
  .consultation-container {
    left: 1%;
  }
}

@media screen and (min-width: 560px) {
  .upper-footer .mobile-view-list,
  .playStore-btn.smaller-screen,
  .smaller-screen-refer-button {
    display: none !important;
  }
}

@media screen and (max-width: 560px) {
  /* Consultation Container */
  .consultation-container {
    top: -25%;
  }
  /* Footer */
  .footer .playStore-btn {
    position: static;
  }
  .footer .columns > div:first-child,
  .playStore-btn.larger-screen {
    display: none !important;
  }
  .footer .upper-footer .columns {
    flex-direction: column;
  }
  .footer .upper-footer .columns > div {
    overflow: hidden;
    width: 100%;
  }
  .footer .upper-footer .columns > div ul {
    max-height: 0px;
    transition: max-height 0.5s ease;
    margin: 0;
  }
  .footer .upper-footer .columns > div ul.active {
    max-height: 260px;
  }
  .footer .upper-footer .columns > div:last-child li:last-child {
    width: 100%;
  }
  .footer .upper-footer .columns > div:last-child li:nth-child(4) {
    position: absolute;
    top: -8%;
    left: 65%;
  }
  .footer .upper-footer ul {
    border: none;
  }
  .footer .upper-footer .columns h4 {
    margin-top: 15px;
  }
  .footer .columns > div:nth-child(4) h4 {
    margin-top: 8px;
  }
  .footer .upper-footer .columns h4 svg.rotated {
    transform: rotate(180deg);
  }
  .footer .upper-footer .columns > div:nth-child(2) ul > div {
    position: absolute;
    right: 0px;
    left: 0px;
  }
  .upper-footer .columns div:nth-child(3) .d-flex {
    flex-direction: column;
  }
  .upper-footer .columns div:nth-child(3) .d-flex ul:last-child {
    padding-left: 0 !important;
  }
  .upper-footer .columns {
    margin-bottom: 0 !important;
  }
  .lower-footer .lower-upper {
    padding-top: 0 !important;
  }
  .footer .upper-footer .columns > div:last-child li:last-child:before,
  .footer .upper-footer .columns > div:last-child li:nth-child(4):before {
    display: none;
  }
  .googlePlay-button,
  .appstore-button {
    margin-left: 20px;
    margin-right: 20px;
  }
  .lower-footer .lower-bottom {
    border-top: 1px solid #919191;
    padding-top: 8px;
  }
}

@media screen and (max-width: 460px) {
  .footer .upper-footer .columns > div:last-child li:nth-child(4) {
    left: 64%;
  }
}

@media screen and (max-width: 450px) {
  /* Consultation Container */
  .consultation-container {
    left: -10%;
  }
  .footer .upper-footer .columns > div:last-child li:nth-child(4) {
    left: 60%;
  }
  .googlePlay-button,
  .appstore-button {
    margin-left: 2px;
    margin-right: 2px;
  }
}

@media screen and (min-width: 420px) {
  .section-three .nav-btn {
    display: none;
  }
  .section-three .video-container {
    animation: video-scroll-right 5s linear infinite;
  }
  .section-three .video-container:hover {
    animation-play-state: paused;
  }

  @keyframes video-scroll-right {
    0% {
      transform: translateX(0);
    }
    90% {
      transform: translateX(-50%);
    }
  }
}

@media screen and (max-width: 420px) {
  /* Section Three */
  .section-three .video-container {
    transition: transform 0.3s ease-in-out;
    overflow-x: auto;
  }

  .section-three .video {
    flex: 0 0 50%;
    box-sizing: border-box;
    padding: 10px;
    margin: 0;
  }
  .section-three .video .d-flex {
    width: 200px;
    margin-right: auto;
    margin-left: auto;
  }

  /* Footer */
  .footer .upper-footer .columns > div:last-child li:nth-child(4) {
    left: 55%;
  }
}

@media screen and (max-width: 405px) {
  .footer .googlePlay-button .texts,
  .footer .appstore-button .texts {
    font-size: 0.7rem;
  }

  .footer .googlePlay-button,
  .footer .appstore-button {
    padding: 0.625rem 1rem;
  }
}

@media screen and (max-width: 390px) {
  .playStore-btn {
    flex-direction: column;
  }
  .playStore-btn .appstore-button {
    margin-top: 10px;
  }
}
